<?xml version="1.0" encoding="UTF-8"?>
<testsuites disabled="" errors="" failures="" name="" tests="" time="">
#foreach ($key in $context.getXRef().getRunsByScenario().keySet())
#set($testsuite = $context.getXRef().getRunsByScenario().get($key))
<!-- testsuite $testsuite -->
#set($timeInSuite = 0.)
#foreach ($testcase in $testsuite)
#set($timeInSuite = $timeInSuite+($testcase.getDuration()/1000.))
#end
    <testsuite disabled="" errors="" failures="" hostname="" id=""
        name="" package="$key" skipped="" tests="" time="$timeInSuite" timestamp="">
        <properties>
            <property name="" value=""/>
            <property name="" value=""/>
        </properties>
#foreach ($testcase in $testsuite)
<!-- testcase $testcase -->
#set($timeInTestCase = ($testcase.getDuration()/1000.))
        <testcase assertions="" classname="$key" name="$testcase.getTextLikeMethod()" status="" time="$timeInTestCase">
#if ( $testcase.isSkipped() )
            <skipped/>
#end
#if ( $testcase.hasErrors() )
            <error message="" type=""/>
#end
#if ( $testcase.hasFailures() )
            <failure message="" type=""/>
#end
#if ( $testcase.hasStdout() )
            <system-out/>
#end
#if ( $testcase.hasStderr() )
            <system-err/>
#end
        </testcase>
#end
    </testsuite>
#end
</testsuites>
