<?xml version="1.0" encoding="UTF-8"?>
<testsuites xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.github.com/ygjb/XmlUnit/master/JUnit.xsd">
#foreach ($key in $context.getXRef().getRunsByScenario().keySet())
#set($testsuite = $context.getXRef().getRunsByScenario().get($key))
    <testsuite id="$testsuite.hashCode()" name="default" timestamp="$testsuite.getTimeStamp()" hostname="localhost" errors="$testsuite.getErrors()" failures="$testsuite.getFailures()"
        package="$key" tests="$testsuite.getTests()" time="$testsuite.getTime()">
        <properties>
#foreach ($property in $context.getEnv().getProperties())
            <property name="$property.getKey()" value="$property.getHtml()"/>
#end
        </properties>
#foreach ($testcase in $testsuite.getRuns())
#set($timeInTestCase = ($testcase.getTime()/1000.))
        <testcase classname="$key" name="$testcase.getTextLikeMethod()" time="$timeInTestCase">
#if ( $testcase.isSkipped() )
            <skipped/>
#end
#if ( $testcase.hasErrors() )
            <error message="$testcase.getExcp()" type="$testcase.getExcp().getClass().getName()"/>
#end
#if ( $testcase.hasFailures() )
            <failure message="$testcase.getExcp().getMessage()" type="$testcase.getExcp().getClass().getName()">
#foreach ($stack in $testcase.getExcp().getStackTrace())$stack
#end
            </failure>
#end
        </testcase>
#end
#if ( $testsuite.hasStdout() )
            <system-out></system-out>
#end
#if ( $testsuite.hasStderr() )
            <system-err></system-err>
#end
    </testsuite>
#end
</testsuites>
