<?xml version="1.0" encoding="UTF-8"?>
<!-- xref -->
<testsuites disabled="$context.getXRef().getDisabled()" errors="$context.getXRef().getErrors()" failures="$context.getXRef().getFailures()" name="$context.getXRef().getName()" tests="$context.getXRef().getTests()" time="$context.getXRef().getTime()">
#foreach ($key in $context.getXRef().getRunsByScenario().keySet())
#set($testsuite = $context.getXRef().getRunsByScenario().get($key))
<!-- testsuite -->
    <testsuite disabled="$testsuite.getDisabled()" errors="$testsuite.getErrors()" failures="$testsuite.getFailures()"
        package="$key" skipped="$testsuite.getSkipped()" tests="$testsuite.getTests()" time="$testsuite.getTime()" timestamp="">
        <properties>
#foreach ($property in $context.getEnv().getProperties())
            <property name="$property.getKey()" value="$property.getValue()"/>
#end
        </properties>
#foreach ($testcase in $testsuite.getRuns())
<!-- testcase -->
#set($timeInTestCase = ($testcase.getTime()/1000.))
        <testcase assertions="" classname="$key" name="$testcase.getTextLikeMethod()" status="" time="$timeInTestCase">
#if ( $testcase.isSkipped() )
            <skipped/>
#end
#if ( $testcase.hasErrors() )
            <error message="$testcase.getExcp()" type="$testcase.getExcp().getClass().getName()"/>
#end
#if ( $testcase.hasFailures() )
            <failure message="$testcase.getExcp().getMessage()" type="$testcase.getExcp().getClass().getName()">
#foreach ($stack in $testcase.getExcp().getStackTrace())$stack
#end
            </failure>
#end
#if ( $testcase.hasStdout() )
            <system-out>$testcase.getStdoutAsString()
</system-out>
#end
#if ( $testcase.hasStderr() )
            <system-err>$testcase.getStderrAsString()
</system-err>
#end
        </testcase>
#end
    </testsuite>
#end
</testsuites>
